# dependencies
node_modules

test/bower_components/

# production
/dist
build
/build_ts

.ftppass
app/videos/**

# misc
.DS_Store
npm-debug.log
.npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
tmp
.tmp
*.swp

